modules = ["nodejs-20", "bash", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 29890612
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd packages/server && npm install && npm run dev"

[[workflows.workflow]]
name = "Start Full Stack"
author = 29890612
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd packages/server && npm install && npm run dev"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd packages/client && npm install && npm run dev"

[[ports]]
localPort = 4000
externalPort = 80
